@mixin darkcolor{
    color: rgb(52,54,65);
}
@mixin tintcolor{
    color: rgb(115,117,128);
}
@mixin bordercolor{
    border: 1px solid rgba(52,54,65,.24)
}
.home{
    width: 100%;
    overflow: hidden;
}
.home-content{
    display: flex;
    width: 100%;
    padding:  0 10%;
    box-sizing: border-box;
    transition: all 1s;
    align-items: center;    
    justify-content: space-between;
    .home-content-txt{
        h2{
            @include darkcolor();
            font-size: 40px;
            margin-bottom: 64px;
            font-weight: 600;
            animation: myfirst .4s ease;
            -webkit-animation: myfirst .4s ease; /* Safari 与 Chrome */
            height: 64px;
            img{
                height: 100%;
            }
        }
        .blockchain{
            margin-bottom: 24px;
            h4{
                font-size: 34px;
                line-height: 42px;
                display: inline-block;
                font-weight: 600;
                @include darkcolor();
            }
            h4:nth-child(1){
                animation: myfirst .45s ease-in-out;
                -webkit-animation: myfirst .45s ease-in-out; /* Safari 与 Chrome */
                
            }
            h4:nth-child(2){
                animation: myfirst .45s ease-in-out;
                -webkit-animation: myfirst .45s ease-in-out; /* Safari 与 Chrome */
            }
        }
        p{
            font-size: 16px;
            line-height: 24px;
            width: 480px;
            @include tintcolor();
            text-wrap: wrap;
            animation: myfirst1 .5s ease-in;
            -webkit-animation: myfirst1 .5s ease-in; /* Safari 与 Chrome */
        }
        button{
            width: 200px;
            height: 48px;
            margin-top: 48px;
            font-size: 16px;
            background: #fff;
            @include darkcolor();
            @include bordercolor();
            font-weight: 600;
            outline: none;
            border-radius: 24px;
            cursor: pointer;
            animation: myfirst .55s ease-in-out;
            -webkit-animation: myfirst .55s ease-in-out; /* Safari 与 Chrome */
            outline: none;
            &:hover{
                background: rgb(52,54,65);
                color: #fff;
            }
        }
    }
    .home-content-cartoon{
        min-height: 320px;
        width: 60%;
        box-sizing: border-box;
    }
}
@keyframes myfirst
{
    0%   {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
 
@-webkit-keyframes myfirst
{
    0%   {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
@keyframes myfirst1
{
    0%   {
        opacity: 0;
        transform: translateY(30px);
    }
    70% {
        opacity: .4;
    }
    100% {
        opacity: .6;
        transform: translateY(0px);
    }
}
 
@-webkit-keyframes myfirst1
{
    0%   {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: .6;
        transform: translateY(0px);
    }
}
@media screen and (max-width: 768px) {
    .home-content {
        padding:0 24px;
        flex-direction: column-reverse;
        .home-content-txt{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            flex-shrink: 0;        
            text-align: center;   
            flex: 1;
            justify-content: center; 
            .blockchain {
                h4{
                    font-size: 24px;
                }
            }
        }
        .home-content-cartoon{
            width: 100%;
            flex-shrink: 0;
        }
    }
}

@media screen and (max-width: 1440px) {
    .home-content {
        padding: 0 40px;
        .home-content-txt{
            h2{
                display: none;
            }
            .blockchain{
                line-height: 28px;
                h4{
                    display: block;
                }
            }
        }
    }
}
@media screen and (max-width: 767px) {
    .home-content {
        padding: 0 24px;
        .home-content-txt{
            width: 100%;
            flex: 1;
            display: flex;
            justify-content: center;
            button{
                margin-top: 32px;
            }
            p{
                width: auto;
            }
        }
        .home-content-cartoon{
            width: 100%;
        }
    }
}
@media screen and (max-width: 414px) {
    .home-content {
        padding:0 16px;
        flex-direction: column-reverse;
        margin-top: 64px;
        .home-content-txt{
            width: 100%;
            .blockchain{
                margin-bottom: 20px;
                h4{
                    font-size: 24px;
                    line-height: 32px;
                }
            }
            p{
                width: auto;
                height: auto;
            }
        }
        .home-content-cartoon{
            width: 100%;
            margin-top: -30px;
        }
    }
}