@mixin darkcolor{
    color: rgba(255,255,255,0.87);
}
@mixin tintcolor{
    color: rgba(255,255,255,.6)
}
@mixin bordercolor{
    border: 1px solid rgba(145,182,200,0.6)
}
.home{
    width: 100%;
    min-height: 100%;
    position: relative;
    overflow-x: hidden;
    &::before{
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: 0px;
        left: 0;
        background-image: url('../../assets/image//bg.jpg');
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: 100% auto;
    }
}
.home-content{
    display: flex;
    width: 100%;
    min-height: 100%;
    transition: all 1s;
    align-items: center;    
    justify-content: space-between;
    box-sizing: border-box;
    padding:  0 5%;
    position: relative;
    z-index: 3;
    &::before{
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(23,26,46,1);
        background-image: url('../../assets/image//1.jpg');
        background-position: center top;
        background-repeat: no-repeat;
        background-size: 100% auto;
        opacity: .5;
        background-blend-mode: color-dodge;
    }
    .home-content-txt{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .blockchain{
            h4{
                font-size: 48px;
                line-height: 56px;
                letter-spacing: 0;
                display: inline-block;
                font-weight: 700;
                margin-bottom: 16px;
                @include darkcolor();
                animation: myfirst .45s ease-in-out;
                -webkit-animation: myfirst .45s ease-in-out; /* Safari 与 Chrome */
            }
        }
        p{
            font-size: 24px;
            line-height: 32px;
            max-width: 480px;
            z-index: 333;
            font-weight: 500;
            @include tintcolor();
            text-wrap: wrap;
            animation: myfirst .5s ease-in-out;
            -webkit-animation: myfirst .5s ease-in-out; /* Safari 与 Chrome */
        }
        .tip{
            width: 240px;
            text-align: center;
            font-size: 12px;
            margin: 0;
            line-height: 20px;
            margin-top: 16px;
            margin-bottom: 32px;
        }
        button{
            width: 240px;
            height: 48px;
            font-size: 16px;
            background: transparent;
            // background: #fff;
            @include darkcolor();
            @include bordercolor();
            font-weight: 600;
            border-radius: 100px;
            cursor: pointer;
            animation: myfirst .55s ease-in-out;
            -webkit-animation: myfirst .55s ease-in-out; /* Safari 与 Chrome */
            outline: none;
            margin-top: 32px;
            
            &:hover{
                background: #fff;
                color:#171a2e;
            }
        }
    }
    .home-content-cartoon{
        width: 60%;
        box-sizing: border-box;
    }
}
// 简介
.home-site{
    padding: 0 5%;
    height: 540px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    .site-bg{
        position: absolute;
        top: -200px;
        left: 0;
        width: 100%;
        z-index: 3;
        img{
           width: 100%;
        }
    }
    h1{
        z-index: 3;
        font-size: 600;
        margin-bottom: 24px;
        text-align: center;
        font-size: 40px;
        line-height: 40px;
        @include darkcolor()
    }
    p{
        z-index: 3;
        font-size: 16px;
        letter-spacing: 0;
        line-height: 24px;
        @include tintcolor();
        display: flex;
        justify-content: center;
        span{
            display: block;
            max-width: 800px;
            height: 100%;
        }
    }
}
// 六大优势
.home-advantage{
    width: 100%;
    position: relative;
    &>div{
        box-sizing: border-box;
        margin-bottom: 80px;
        display: flex;
        justify-content: center;
        align-content: center;
    }
    &>div:last-child{
        margin-bottom: 0;
    }
    .adv-txt{
        display: inline-block;
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        h3{
            font-size: 600;
            margin-bottom: 32px;
            font-size: 24px;
            line-height: 32px;
            @include darkcolor();
            // max-width: 400px;
            
        }
        p{
            font-size: 14px;
            line-height: 24px;
            @include tintcolor();
            // max-width: 480px;
        }
    }
    .adv-img{
        display: flex;
        justify-content: center;
        display: inline-block;
        width: 410px;
        width: 30%;
        img{
            width:100%;
        }
    }
    .home-advantage1, .home-advantage3{
        width: 100%;
        &>div{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 30%;
        }
        div:nth-child(1){
            margin-right: 20%;
        }
    }
    .home-advantage3 .adv-img{
        height: auto;
        .led{
            position: relative;
            width: 100%;
        }
        .leda{
            position: absolute;
            top:0;
            left: 0;
            width: auto;
            height: auto;
        }
        .a1{
            top: 22.25%;
            left: 9.9%;
            -webkit-animation: plat 7s linear .1s infinite;
        }
        .a2{
            top: 20.14%;
            left: 42.72%;
            -webkit-animation: plat 8s linear infinite;
        }
        .a3{
            top: 43%;
            left: 21.96%;
            -webkit-animation: plat 3s linear infinite;
        }
        .a4{
            top: 36.69%;
            left: 39.11%;
            -webkit-animation: plat 5s linear 3s infinite;
        }
        .a5{
            top: 36.39%;
            left: 33.09%;
            -webkit-animation: plat 4s linear 5s infinite;
        }
        .a6{
            top: 27.97%;
            left: 46.93%;
            -webkit-animation: plat 3s linear 6s infinite;
        }
        .a7{
            top: 34.89%;
            left: 66.48%;
            -webkit-animation: plat 6s linear 6s infinite;
        }
        .a8{
            top: 40.60;
            left: 57.16%;
            -webkit-animation: plat 3s linear 3s infinite;
        }
        .a9{
            top: 50.23%;
            left: 71.60%;
            -webkit-animation: plat 3s linear 1s infinite;
        }
    }
    .home-advantage56{
        display: flex;
        flex-direction: row;
        &>div{
            width: 30%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .adv-txt{
            width: 100%;
        }
        .adv-img{
            width: 100%;
            margin: 40px 0;
            z-index: 2;
            text-align: center;
            img{
                width: 50%;
            }
        }
        &>div:nth-child(1){
            margin-right: 20%;
        }
    }
    .home-advantage2, .home-advantage4{
        .adv-txt:nth-child(2){
            margin-left: 20%;
        }
    }
    
}
#Rectangle-Copy-2{
    -webkit-animation: name-a2-3 2s linear infinite;
}
#Rectangle-Copy{
    -webkit-animation: name-a2-2 1.8s ease-in-out infinite;
}
#Rectangle{
    -webkit-animation: name-a2-1 1.6s ease-in-out infinite;
}
#Combined-Shape1{
    opacity: .4;
}
#Rectangle-Copy-3{
    opacity: .5;
}
// 进程
.home-path{
    box-sizing: border-box;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 5%;
    &>h2{
        width: 100%;
        text-align: center;
        @include darkcolor();
        font-size: 32px;
        line-height: 40px;
        margin: 100px 0 100px 0;
        z-index: 5;
        span{
            display: inline-block;
            width: 610px;
        }
    }
}
.home-path-detail{
    ul{
        padding-left: 60px;
        li{
            position: relative;
            h3{
                @include darkcolor();
                font-size: 20px;
                line-height: 28px;
            }
            p:nth-child(3){
                margin: 8px 0;
            }
            p:last-child{
                margin-bottom: 40px;
            }
            p{
                font-size: 14px;
                line-height: 22px;
                color: rgba(255,255,255,0.7);
            }
            &::after{
                position: absolute;
                top: 20px;
                left: -31.5px;
                display: block;
                content: '';
                width: 3px;
                height: 148%;
                background: rgba(90,100,110,.7);
            }
            &:nth-child(4)::after{
                height: 0;
            }
        }
        .pathactive::after{
            background: rgba(80,193,227,1);
        }
    }
}
// 进程按钮闪烁
.state {
    margin:10px auto;
    width: 40px;
    height: 40px;
    position: absolute;
    top: -16px;
    left: -50px;
}
.a {
    display: inline-block;
    background: rgba(80,193,227,1);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.b {
    display: inline-block;
    background: rgba(80,193,227,.4);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    -webkit-animation: cartoon2 1.5s infinite;
}

.c {
    display: inline-block;
    background: rgba(80,193,227,.1);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    -webkit-animation: cartoon1 1.5s infinite;
}
// 订阅
.home-subscribe{
    margin-top: 33px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 5%;
    position: relative;
    h1{
        margin-top: 524px;
        font-size: 32px;
        line-height: 40px;
        @include darkcolor();
    }
    p:nth-child(2){
        @include tintcolor();
        font-size: 16px;
        line-height: 24px;
        margin-top: 24px;
        margin-bottom: 48px;
    }
    p:nth-child(3){
        margin-bottom: 107px;
        width: 100%;
        display: flex;
        justify-content: center;
        input{
            box-sizing: border-box;
            background: rgb(255,255,255);
            border-radius: 100px;
            font-size: 16px;
            width: 400px;
            height: 48px;
            outline: none;
            border: none;
            padding: 0 20px;
            @include tintcolor();
            
        }
        button{
            width: 140px;
            height: 48px;
            background: #16365B;
            border-radius: 48px; 
            outline: none;
            border: none;
            font-size: 16px;
            color: rgba(255,255,255,0.60);
            letter-spacing: 0;
            line-height: 28px;
            cursor: pointer;
        }
    }
}
@keyframes name-a2-1{
    0%{
        transform-origin: 0px 0px 0px;
        transform: translate(164.71px,-96px) rotate(45deg) ;
    }
    50%{
        transform-origin: 0px 0px 0px;
        transform: translate(164.71px,-110px) rotate(45deg);
    }
    100%{
        transform-origin: 0px 0px 0px;
        transform: translate(164.71px,-96px) rotate(45deg);
    }
}
@-moz-keyframes name-a2-1{
    0%{
        transform-origin: 0px 0px 0px;
        transform: translate(164.71px,-96px) rotate(45deg) ;
    }
    50%{
        transform-origin: 0px 0px 0px;
        transform: translate(164.71px,-110px) rotate(45deg);
    }
    100%{
        transform-origin: 0px 0px 0px;
        transform: translate(164.71px,-96px) rotate(45deg);
    }
}
@-webkit-keyframes name-a2-1{
    0%{
        transform-origin: 0px 0px 0px;
        transform: translate(164.71px,-96px) rotate(45deg) ;
    }
    50%{
        transform-origin: 0px 0px 0px;
        transform: translate(164.71px,-110px) rotate(45deg);
    }
    100%{
        transform-origin: 0px 0px 0px;
        transform: translate(164.71px,-96px) rotate(45deg);
    }
}
@keyframes name-a2-2{
    0%{
        transform-origin: 0px 0px 0px;
        transform: translate(190.71px,-78px) rotate(45deg) ;
    }
    50%{
        transform-origin: 0px 0px 0px;
        transform: translate(190.71px,-88px) rotate(45deg);
    }
    100%{
        transform-origin: 0px 0px 0px;
        transform: translate(190.71px,-78px) rotate(45deg);
    }
}
@-moz-keyframes name-a2-2{
    0%{
        transform-origin: 0px 0px 0px;
        transform: translate(190.71px,-78px) rotate(45deg) ;
    }
    50%{
        transform-origin: 0px 0px 0px;
        transform: translate(190.71px,-88px) rotate(45deg);
    }
    100%{
        transform-origin: 0px 0px 0px;
        transform: translate(190.71px,-78px) rotate(45deg);
    }
}
@-webkit-keyframes name-a2-2{
    0%{
        transform-origin: 0px 0px 0px;
        transform: translate(190.71px,-78px) rotate(45deg) ;
    }
    50%{
        transform-origin: 0px 0px 0px;
        transform: translate(190.71px,-88px) rotate(45deg);
    }
    100%{
        transform-origin: 0px 0px 0px;
        transform: translate(190.71px,-78px) rotate(45deg);
    }
}
@keyframes name-a2-3{
    0%{
        transform-origin: 0px 0px 0px;
        transform: translate(211.71px,-72px) rotate(45deg) ;
    }
    50%{
        transform-origin: 0px 0px 0px;
        transform: translate(211.71px,-80px) rotate(45deg);
    }
    100%{
        transform-origin: 0px 0px 0px;
        transform: translate(211.71px,-72px) rotate(45deg);
    }
}
@-moz-keyframes name-a2-3{
    0%{
        transform-origin: 0px 0px 0px;
        transform: translate(211.71px,-72px) rotate(45deg) ;
    }
    50%{
        transform-origin: 0px 0px 0px;
        transform: translate(211.71px,-80px) rotate(45deg);
    }
    100%{
        transform-origin: 0px 0px 0px;
        transform: translate(211.71px,-72px) rotate(45deg);
    }
}
@-webkit-keyframes name-a2-3{
    0%{
        transform-origin: 0px 0px 0px;
        transform: translate(211.71px,-72px) rotate(45deg) ;
    }
    50%{
        transform-origin: 0px 0px 0px;
        transform: translate(211.71px,-80px) rotate(45deg);
    }
    100%{
        transform-origin: 0px 0px 0px;
        transform: translate(211.71px,-72px) rotate(45deg);
    }
}
// 地图动画
@keyframes plat {
    0% {
        transform: translateY(0px);
        opacity: .5;
    }
    25% {
        transform: translateY(-40px);
        opacity: 1;
    }
    50% {
        transform: translateY(-80px);
        opacity: .5;
    }
    75% {
        transform: translateY(-120px);
        opacity: .3;
    }
    100%{
        transform: translateY(-160px);
        opacity: 0;
    }
}
@-moz-keyframes plat {
    0% {
        transform: translateY(0px);
        opacity: .5;
    }
    25% {
        transform: translateY(-40px);
        opacity: 1;
    }
    50% {
        transform: translateY(-80px);
        opacity: .5;
    }
    75% {
        transform: translateY(-120px);
        opacity: .3;
    }
    100%{
        transform: translateY(-160px);
        opacity: 0;
    }
}
@-webkit-keyframes plat {
    0% {
        transform: translateY(0px);
        opacity: .5;
    }
    25% {
        transform: translateY(-40px);
        opacity: 1;
    }
    50% {
        transform: translateY(-80px);
        opacity: .5;
    }
    75% {
        transform: translateY(-120px);
        opacity: .3;
    }
    100%{
        transform: translateY(-160px);
        opacity: 0;
    }
}

@-webkit-keyframes cartoon1 {
    0%{
        transform: scale(1);
        background: rgba(80,193,227, .5);
    }
    10%{
        transform: scale(1.1);
        background: rgba(80,193,227, .45);
    }
    20%{
        transform: scale(1.2);
        background: rgba(80,193,227, .40);
    }
    30%{
        transform: scale(1.3);
        background: rgba(80,193,227, .35);
    }
    40%{
        transform: scale(1.4);
        background: rgba(80,193,227, .30);
    }
    50%{
        transform: scale(1.5);
        background: rgba(80,193,227, .25);
    }
    60% {
        transform: scale(1.6);
        background: rgba(80,193,227, .20);
    }
    70% {
        transform: scale(1.7);
        background: rgba(80,193,227, .15);
    }
    80% {
        transform: scale(1.8);
        background: rgba(80,193,227, .10);
    }
    90% {
        transform: scale(1.9);
        background: rgba(80,193,227, 0.05);
    }
    100% {
        transform: scale(2.0);
        background: rgba(80,193,227, 0);
    }
}
@-webkit-keyframes cartoon2 {
    0%{
        transform: scale(0);
        background: rgba(80,193,227, .7);
    }
    25% {
        transform: scale(1.2);
        background: rgba(80,193,227, .6);
    }
    50% {
        transform: scale(1.4);
        background: rgba(80,193,227, .4);
    }
    75% {
        transform: scale(1.6);
        background: rgba(80,193,227, .2);
    }
    100% {
        transform: scale(1.8);
        background: rgba(80,193,227, 0);
    }
}
@-webkit-keyframes myfirst {
    0%   {
        opacity: 0;
        transform: translateY(30px);
    }
    10%   {
        opacity: .1;
        transform: translateY(27px);
    }
    20%   {
        opacity: .2;
        transform: translateY(23px);
    }
    30%   {
        opacity: .3;
        transform: translateY(20px);
    }
    40%   {
        opacity: .4;
        transform: translateY(17px);
    }
    50%   {
        opacity: .5;
        transform: translateY(14px);
    }
    60%   {
        opacity: .6;
        transform: translateY(11px);
    }
    70%   {
        opacity: .7;
        transform: translateY(9px);
    }
    80% {
        opacity: .8;
        transform: translateY(6px);
    }
    90% {
        opacity: .9;
        transform: translateY(3px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
 

@media screen and (max-width: 768px) {
    .home-content {
        flex-direction: column-reverse;
        .home-content-txt{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            flex-shrink: 0;        
            text-align: center;   
            flex: 1;
            justify-content: center; 
            height: auto;
            margin-top: 0px;
            margin-bottom: 40px;
            .blockchain {
                h4{
                    font-size: 32px;
                    line-height: 40px;
                }
            }
            p{
                font-size: 16px;
                line-height: 24px;
            }
        }
        .home-content-cartoon{
            margin-top: 50px;
            width: 100%;
            flex-shrink: 0;
            z-index: 3;
        }
        &::before{
            background-position: center top;
            background-repeat: no-repeat;
            background-size: auto auto;
        }
    }
    .home .home-text{
        flex-direction: column;
        align-items: center;
        .txt:nth-child(2){
            margin: 0;
        }
    }
    .home-site{
        height: auto;
        h1{
            margin-top: 40px;
            font-size: 20px;
        }
        .site-bg{
            top: -70px;
        }
    }
      // 六大优势
    .home-advantage{
        .adv-txt{
            h2{
                width: 100%;
                margin-top: 0;
            }
            p{
                width: 100%;
            }
        }
        &>div{
            box-sizing: border-box;
            padding: 0 5%;
            margin: 0;
            .adv-txt{
                width: 100%;
                margin: 0;
                h3 {
                    font-size: 20px;
                    line-height: 28px;
                    text-align: center;
                }
            }
            .adv-img{
                width: 100%;
                margin:40px 0;
                display: flex;
                justify-content: center;
                img{
                    width: 70%;
                    height: 70%;
                }
            }
        }
        .home-advantage1, .home-advantage3{
            display: flex;
            flex-direction:column-reverse;
            .adv-txt{
                width: 100%;
            }
            .adv-img{
                width: 100%;
            }
        }
        .home-advantage3{
            .adv-img{
                margin: 0;
                display: flex;
                justify-content: center;
                position: relative;
                .led{
                    margin: 0;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    .bg{
                        width: 100%;
                    }
                }
                
            }
        }
        .home-advantage2,.home-advantage4{
            flex-direction: column;
            & .adv-txt:nth-child(2){
                margin:0;
            }
            .adv-img{
                margin: 0;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
        .home-advantage56{
            flex-direction: column;
            &>div{
                width: 100%;
                .adv-img{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin: 0;
                }
            }
        }
    }
    // 订阅
    .home-site  {
        margin: 0;
        h1{
            font-size: 22px;
        }
        p{
            text-align: center;
        }
    }   
    // 进程
    .home-path{
        padding: 0 5%;
        margin: 0;
        h2{
            margin: 40px 0 40px 0;
            font-size: 20px;
            line-height: 28px;
            span{
                width: auto;
            }
        }
    }
    // 提交邮箱
    .home-subscribe{
        padding: 0 5%;
        text-align: center;
        margin-top: 40px;
        h1{
            margin: 0;
            font-size: 20px;
            line-height: 28px;
        }
        p:nth-child(3){
            width: 100%;
            display: flex;
            flex-direction: column;
            input{
                display: block;
                width: 100%;
            }
            button{
                margin-top: 20px;
                display: block;
                width: 100%;
                text-align: center;
                font-size: 14px;
            }
        }
    }
}

