#WebGL-output{
    width: 100%;
    height: 100%;
    text-align: center;
    position: relative;
    -webkit-transition: all .5s;
    overflow: hidden;
}
@media screen and (max-width: 768px) {
    #WebGL-output::after{
        /* box-shadow: inset 0px 15px 20px 20px #ffffff; */
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 2px;
        left: 0;
        z-index: 66;
    }
}
