@mixin flex{
    /* 设置弹性布局 */
    display:-webkit-box;/* android 2.1-3.0, ios 3.2-4.3 */
    display:-webkit-flex;/* Chrome 21+ */
    display:-ms-flexbox;/* WP IE 10 */
    display:flex;/* android 4.4 */
}
@mixin flex-pack-justify{
    /* 水平布局下的子元素 2端对齐 */
    -webkit-box-pack: justify;/* android 2.1-3.0, ios 3.2-4.3 */
    -webkit-justify-content: space-between;/* Chrome 21+ */
    -ms-flex-pack: justify;/* WP IE 10 */
    justify-content: space-between;/* android 4.4 */
}
@mixin darkcolor{
    color: rgba(255,255,255,0.87);
}
@mixin tintcolor{
    color: rgba(255,255,255,0.6)
}
@mixin bordercolor{
    border: 1px solid rgba(145,182,200,0.6)
}
.header {
    box-sizing: border-box;
    width: 100%;
    height: 72px;
    transition: opacity 1.5s ease-in-out;
    flex-shrink: 0;
    @include flex();
    @include flex-pack-justify();
    align-items: center;
    padding: 0 5%;
    z-index: 99;
    position: absolute;
    top: 0;
    left: 0;
    .logo{
        @include flex();
        align-items: center;
        height: 100%;
        img{
            height: 32px;
        }
    }
    &>.smlang-box{
        width: 68px;
        display: flex;
        justify-content: flex-end;
        .smlang{
            box-sizing: border-box;
            display: inline-block;
            padding: 0 8px;
            margin: 0;
            cursor: pointer;
            height: 24px;
            line-height: 24px;
            text-align: center;
            @include bordercolor();
            border-radius: 16px;
            @include tintcolor();
            font-size: 14px;
        }
    }
    
    .nav{
        height: 100%;
        align-items: center;
    }
    .nav ul{
        height: 100%;
        display: flex;
        align-items: center;
        &>li{
            margin-right: 40px;
            @include tintcolor();
            position: relative;
            &>a{
                display: inline-block;
                text-transform: uppercase;
                @include tintcolor();
            }
            &>a::after{
                display: block;
                content: attr(title);
                font-weight: 600;
                height: 0;
                overflow: hidden;
                visibility: hidden;
            }
            &:last-child{
                &>span{
                    text-align: center;
                    // line-height: 72px;
                    text-transform: uppercase;
                }
                // &::after{
                //     display: block;
                //     content: attr(title);
                //     font-weight: 600;
                //     height: 0;
                //     overflow: hidden;
                //     visibility: hidden;
                // }
            }
            :hover>span{
                @include darkcolor();
                font-weight: 600;
            }
        }
    }
    .nav .lang{
        cursor: pointer;
        box-sizing: border-box;
        display: inline-block;
        padding: 3px 8px;
        @include bordercolor();
        border-radius: 16px;
        @include tintcolor();
        font-size: 14px;
        height: 28px;
        &:hover{
            color: #DEFFFFFF;
        }
    }
    .nav .zh-CN>li>a::after{
        content: '';
    }
    .active>a>span{
        @include darkcolor();
        font-weight: 600;
    }
    .active>span{
        @include darkcolor();
        font-weight: 600;
    }
    .menu{
        display: inline-block;
        width: 68px;
        height: 24px;
        img{
            width: 24px;
            height: 24px;
        }
    }
    .block{
        display: flex;
    }
    .none{
        display: none;
    }
    ol{
        height: 0;
        overflow: hidden;
        position: absolute;
        top: 36px;
        right: 0;
        width: 178px;
        background: #fff;
        margin: 0;
        padding: 0;
        li{
            height: 40px;
            position: relative;
            a{
                padding-left: 20px;
                box-sizing: border-box;
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                line-height: 40px;
                span{
                    color: rgb(52,54,65);
                }
            }
        }
        li:hover{
            background: rgba(52, 54, 65, 0.12);
            a span{
                font-weight: 500;
            }
        }
    }
    .navolshow{
        height: auto;
    }
}
.up{
    opacity: 0;
    height: 0px;
}
.down{
    opacity: 1;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(23,26,46,1);
    //border-bottom: 1px solid #D9E0E8;
}
.navbar-dialog{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .38);
    z-index: 998;
}
.dialog-box{
    position: fixed;
    top: 0;
    left: 0;
    width: 74%;
    height: 100%;
    background: #fff;
    transition: all .3s ease-out;
    transform: translateX(-100%);
    z-index: 999;
    .top{
        width: 100%;
        height: 64px;
        // background: #fff;
        box-sizing: border-box;
        padding: 16px;
        img{
            width: 83px;
            height: 32px ;
        }
    }
    .content{
        margin-top: 30px;
        ul{
            width: 100%;
            &>li{
                width: 100%;
                height: 48px;
                line-height: 48px;
                a{
                    box-sizing: border-box;
                    width: 100%;
                    height: 100%;
                    display: block;
                    color: rgb(115,117,128);
                    font-weight: 500;
                    padding-left: 16px;
                    span{
                        width: 100%;
                        height: 100%;
                        display: block;
                        font-size: 14px;
                    }
                }
                &>span{
                    box-sizing: border-box;
                    width: 100%;
                    height: 100%;
                    display: block;
                    color: rgb(115,117,128);
                    font-weight: 500;
                    padding-left: 16px;
                }
            }
            li:hover{
               background: rgba(52, 54, 65, 0.12);
                &>a{
                    span{
                        color: rgb(52,54,65);
                    }
                }
            }
        }
        .olshow{
            position: static;
            width: 100%;
            padding: 0;
            margin-top: 0px;
            overflow: hidden;
            height: 0;
            transition: height .1s ease-in-out;
            li{
                width: 100%;
                height: 48px;
                line-height: 48px;
                a{
                    width: 100%;
                    height: 100%;
                    display: block;
                    font-weight: 500;
                    padding-left: 30px;
                    span{
                        width: 100%;
                        height: 100%;
                        display: block;
                        font-size: 14px;
                        color: rgb(115,117,128);
                    }
                }
            }
            li:hover{
                background: rgba(52, 54, 65, 0.12);
                a span{
                    color: rgb(52,54,65);
                }
            }
        }
        .olshow{
            height: 144px;
        }
    }
}
.dialog-box-show{
    transform: translateX(0%);
}
